<form [formGroup]="formGroup">
  <p-panel header="查詢設定資料">
    <div class="card" #contentElement>
      <div class="grid p-fluid">
        <div class="col-12 md:col-3 lg:col-3">
          <label>配置種類</label>
          <p-dropdown
            [options]="dataTypes"
            optionValue="value"
            placeholder="請選擇"
            [showClear]="true"
            appendTo="body"
            formControlName="dataType"
          />
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>類別</label>
          <input type="text" pInputText formControlName="type" />
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>名稱</label>
          <input type="text" pInputText formControlName="name" />
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>是否生效</label>
          <p-dropdown
            [options]="activeFlags"
            optionValue="value"
            placeholder="請選擇"
            [showClear]="true"
            appendTo="body"
            formControlName="activeFlag"
          />
        </div>
      </div>
      <div class="grid p-fluid justify-content-end">
        <div class="col-12 md:col-3 lg:col-2">
          <button type="button" pButton label="新增" (click)="onAdd()"></button>
        </div>
        <div class="col-12 md:col-3 lg:col-2">
          <button type="button" pButton label="查詢" (click)="query()"></button>
        </div>
        <div class="col-12 md:col-3 lg:col-2">
          <button
            type="button"
            class="p-button-secondary p-button-outlined"
            pButton
            label="清除"
            (click)="clear()"
          ></button>
        </div>
      </div>
    </div>
  </p-panel>
</form>

<div class="card">
  <p-table
    #dt
    responsiveLayout="stack"
    [rowsPerPageOptions]="[2, 5, 10]"
    styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped"
    selectionMode="multiple"
    [resizableColumns]="true"
    [value]="tableData"
    [columns]="cols"
    [(selection)]="selectedData"
    [scrollable]="true"
    scrollDirection="both"
    scrollHeight="300px"
    [paginator]="true"
    [rows]="10"
  >
    <!-- 標題 -->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }} <p-sortIcon [field]="col.field" />
        </th>
        <th
          alignFrozen="right"
          pFrozenColumn
          style="
            min-width: 70px !important;
            max-width: 70px !important;
            width: 70px !important;
          "
        >
          Actions
        </th>
      </tr>
    </ng-template>
    <!-- 內容 -->
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td
          *ngFor="let col of columns"
          [ngStyle]="{ 'word-break': 'break-all' }"
        >
          <ng-container>
            {{ rowData[col.field] }}
          </ng-container>
        </td>
        <td alignFrozen="right" pFrozenColumn style="text-align: center">
          <div>
            <p-menu
              #menu
              [popup]="true"
              [model]="rowActionMenu"
              appendTo="body"
            ></p-menu>
            <button
              pButton
              type="button"
              class="p-button-outlined p-button-secondary"
              style="color: rgb(1, 155, 70)"
              icon="pi pi-pencil"
              (click)="clickRowActionMenu(rowData); menu.toggle($event)"
            ></button>
            <button
              pButton
              type="button"
              class="p-button-outlined p-button-secondary"
              icon="pi pi-trash"
              style="color: red"
              (click)="delete(rowData.id); menu.toggle($event)"
            ></button>
          </div>
        </td>
      </tr>
      <!-- <button type="button" (click)="show('test')" pButton icon="pi pi-info-circle" label="Show"></button> -->
    </ng-template>
  </p-table>
</div>

<p-toast position="bottom-right" key="msg" />
