<form [formGroup]="formGroup">
  <p-panel header="新增車票資料">
    <div class="card" #contentElement>
      <div class="grid p-fluid">
        <div class="col-12 md:col-3 lg:col-3">
          <label class="required">車次</label>
          <p-dropdown
            [options]="trainNos"
            optionValue="value"
            placeholder="請選擇"
            [showClear]="true"
            appendTo="body"
            formControlName="trainNo"
          >
          </p-dropdown>
          <div *ngIf="formControlInvalid('fromStop')">
            <small class="p-error"> 該資料不能為空 </small>
          </div>
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label class="required">起站</label>
          <p-dropdown
            [options]="stops"
            optionValue="value"
            placeholder="請選擇"
            [showClear]="true"
            appendTo="body"
            formControlName="fromStop"
          >
          </p-dropdown>
          <div *ngIf="formControlInvalid('fromStop')">
            <small class="p-error"> 該資料不能為空 </small>
          </div>
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label class="required">迄站</label>
          <p-dropdown
            [options]="stops"
            optionValue="value"
            placeholder="請選擇"
            [showClear]="true"
            appendTo="body"
            formControlName="toStop"
          >
          </p-dropdown>
          <div *ngIf="formControlInvalid('toStop')">
            <small class="p-error"> 該資料不能為空 </small>
          </div>
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label class="required">票價</label>
          <input
            type="number"
            pInputText
            [min]="0"
            [step]="1"
            formControlName="price"
            [ngClass]="{ 'ng-dirty': formControlInvalid('price') }"
          />
          <div *ngIf="formControlInvalid('money')">
            <small class="p-error"> 該資料不能為空 </small>
          </div>
        </div>
      </div>

      &nbsp;
      <div class="grid p-fluid justify-content-end">
        <div class="col-12 md:col-3 lg:col-2">
          <button
            type="button"
            pButton
            label="提交"
            (click)="submit()"
          ></button>
        </div>
        <div class="col-12 md:col-3 lg:col-2">
          <button
            type="button"
            class="p-button-secondary p-button-outlined"
            pButton
            label="清除"
            (click)="clear()"
          ></button>
        </div>
      </div>
    </div>
  </p-panel>
</form>
