<form [formGroup]="formGroup">
  <p-panel header="查詢車次資料">
    <div class="card" #contentElement>
      <div class="grid p-fluid">
        <div class="col-12 md:col-3 lg:col-3">
          <label>車次</label>
          <p-dropdown
            [options]="trainNoList"
            optionValue="value"
            placeholder="請選擇"
            [showClear]="true"
            appendTo="body"
            formControlName="trainNo"
          >
          </p-dropdown>
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>車種</label>
          <p-dropdown
            [options]="kinds"
            optionValue="value"
            optionLabel="value"
            placeholder="請選擇"
            [showClear]="true"
            appendTo="body"
            formControlName="trainKind"
          >
          </p-dropdown>
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>起站</label>
          <p-dropdown
            [options]="stops"
            optionValue="value"
            placeholder="請選擇"
            [showClear]="true"
            appendTo="body"
            formControlName="fromStop"
          >
          </p-dropdown>
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label>迄站</label>
          <p-dropdown
            [options]="stops"
            optionValue="value"
            placeholder="請選擇"
            [showClear]="true"
            appendTo="body"
            formControlName="toStop"
          >
          </p-dropdown>
        </div>
      </div>
      <div class="grid p-fluid">
        <div class="col-12 md:col-3 lg:col-3">
          <label class="required">搭乘日期</label>
          <p-calendar
            [showIcon]="true"
            appendTo="body"
            formControlName="takeDate"
            dateFormat="yy-mm-dd"
            dataType="string"
            placeholder="yyyy-MM-dd"
          >
          </p-calendar>
          <div *ngIf="formControlInvalid('takeDate')">
            <small class="p-error"> 不能為空 </small>
          </div>
        </div>
        <div class="col-12 md:col-3 lg:col-3">
          <label class="required">搭乘時間</label>
          <input type="time" pInputText formControlName="takeTime" />
          <div *ngIf="formControlInvalid('takeTime')">
            <small class="p-error"> 不能為空 </small>
          </div>
        </div>
      </div>
      &nbsp;
      <div class="grid p-fluid justify-content-end">
        <div class="col-12 md:col-3 lg:col-2">
          <button type="button" pButton label="查詢" (click)="query()"></button>
        </div>
        <div class="col-12 md:col-3 lg:col-2">
          <button
            type="button"
            class="p-button-secondary p-button-outlined"
            pButton
            label="清除"
            (click)="clear()"
          ></button>
        </div>
      </div>
    </div>
  </p-panel>
</form>

<div class="card">
  <p-table
    #dt
    [rowsPerPageOptions]="[2, 5, 10]"
    [tableStyle]="{
      'min-width': '10rem',
      'word-wrap': 'break-word'
    }"
    styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped"
    selectionMode="single"
    [resizableColumns]="true"
    [value]="headerTableData"
    [columns]="headerCols"
    [(selection)]="selectedHeaderData"
    [scrollable]="true"
    scrollDirection="both"
    scrollHeight="200px"
    [paginator]="true"
    [rows]="10"
    (onRowSelect)="showLineTable($event)"
  >
    <!-- 標題 -->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }} <p-sortIcon [field]="col.field" />
        </th>
        <th
          alignFrozen="right"
          pFrozenColumn
          style="
            min-width: 1rem !important;
            max-width: 70px !important;
            width: 70px !important;
          "
        >
          Actions
        </th>
      </tr>
    </ng-template>
    <!-- 內容 -->
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          <ng-container>
            <div
              [style]="{
                'word-break': 'break-all',
                'max-width': '100%',
                'min-width': '3rem'
              }"
            >
              {{ rowData[col.field] }}
            </div>
          </ng-container>
        </td>
        <td alignFrozen="right" pFrozenColumn>
          <div>
            <p-menu
              #menu
              [popup]="true"
              [model]="rowActionMenu"
              appendTo="body"
            ></p-menu>
            <button
              pButton
              type="button"
              class="p-button-outlined p-button-secondary"
              style="color: rgb(1, 155, 70)"
              icon="pi pi-eye"
              (click)="
                clickHeaderRowActionMenu('TRAIN_DETAIL', rowData);
                menu.toggle($event)
              "
            ></button>
          </div>
        </td>
      </tr>
      <!-- <button type="button" (click)="show('test')" pButton icon="pi pi-info-circle" label="Show"></button> -->
    </ng-template>
  </p-table>
</div>
<div class="card" *ngIf="lineTableVisibled">
  <p-table
    #dt
    responsiveLayout="stack"
    [rowsPerPageOptions]="[2, 5, 10]"
    styleClass="p-datatable-gridlines p-datatable-sm p-datatable-striped"
    selectionMode="single"
    [resizableColumns]="true"
    [value]="lineTableData"
    [columns]="lineCols"
    [(selection)]="selectedLineData"
    [scrollable]="true"
    scrollDirection="both"
    scrollHeight="300px"
    [paginator]="true"
    [rows]="10"
  >
    <!-- 標題 -->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }} <p-sortIcon [field]="col.field" />
        </th>
        <th
          alignFrozen="right"
          pFrozenColumn
          style="
            min-width: 70px !important;
            max-width: 70px !important;
            width: 70px !important;
          "
        >
          Actions
        </th>
      </tr>
    </ng-template>
    <!-- 內容 -->
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td
          *ngFor="let col of columns"
          [ngStyle]="{
            'word-break': 'break-all',
            'max-width': '100%',
            'min-width': '5rem'
          }"
        >
          <ng-container>
            {{ rowData[col.field] }}
          </ng-container>
        </td>
        <td alignFrozen="right" pFrozenColumn style="text-align: center">
          <div>
            <p-menu
              #menu
              [popup]="true"
              [model]="rowActionMenu"
              appendTo="body"
            ></p-menu>
            <button
              pButton
              type="button"
              class="p-button-outlined p-button-secondary"
              style="color: rgb(1, 155, 70)"
              icon="pi pi-book"
              (click)="
                clickLineRowActionMenu('STOP_DETAIL', rowData);
                menu.toggle($event)
              "
            ></button>
          </div>
        </td>
      </tr>
      <!-- <button type="button" (click)="show('test')" pButton icon="pi pi-info-circle" label="Show"></button> -->
    </ng-template>
  </p-table>
</div>
